<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <!--QQ浏览器内核切换-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <!--360浏览器内核切换-->≈
  <link rel="shortcut icon" href="../../assets/images/logo@2x.png">
  <meta name="renderer" content="webkit"/>
  <meta name="keywords" content="日本小姐姐,日本,女优,美女,直播" />
  <meta name="description" content="日本小姐姐大本营"/>
  <title>{{name}}</title>
</head>
<body>
<div class="{{name}}">

</div>
</body>
</html>
